<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>10:20:00</string>
		<key>address</key>
		<string>贵州财经大学</string>
		<key>date</key>
		<string>2015.12.17</string>
		<key>daotui</key>
		<string>签到</string>
	</dict>
	<dict>
		<key>time</key>
		<string>17:20:00</string>
		<key>address</key>
		<string>贵州财经大学</string>
		<key>date</key>
		<string>2015.12.17</string>
		<key>daotui</key>
		<string>签退</string>
	</dict>
</array>
</plist>
