<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Email</string>
		<key>actionTag</key>
		<string>0</string>
		<key>icon</key>
		<string>Email</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Annonce</string>
		<key>actionTag</key>
		<string>1</string>
		<key>icon</key>
		<string>Annonce</string>
	</dict>
	<dict>
		<key>name</key>
		<string>News</string>
		<key>actionTag</key>
		<string>2</string>
		<key>icon</key>
		<string>News</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Calendar</string>
		<key>actionTag</key>
		<string>3</string>
		<key>icon</key>
		<string>Calendar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Contacts</string>
		<key>actionTag</key>
		<string>4</string>
		<key>icon</key>
		<string>Contacts</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Flow</string>
		<key>actionTag</key>
		<string>5</string>
		<key>icon</key>
		<string>Flow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Notes</string>
		<key>actionTag</key>
		<string>6</string>
		<key>icon</key>
		<string>Notes</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Weather</string>
		<key>actionTag</key>
		<string>7</string>
		<key>icon</key>
		<string>Weather</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Clocking</string>
		<key>actionTag</key>
		<string>8</string>
		<key>icon</key>
		<string>Clocking</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Messages</string>
		<key>actionTag</key>
		<string>9</string>
		<key>icon</key>
		<string>Messages</string>
	</dict>
</array>
</plist>
